html {
   scroll-behavior: smooth;
   font-size: 62.5%;
}

body {
   width: 100%;
   margin: 0;
   background-color:#F3EAE0;
   color: #837A71;
   font-family: 'Arial', sans-serif;
}

h1 {
   text-align: center;
   font-size: 2rem;
}

.container {
   width: 80%;
   margin: 1rem auto 4rem auto;
   cursor: pointer;
   transition: 1s;
}

.container label {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 2rem;
   height: 3rem;
   line-height: 2rem;
   font-size: 1.1rem;
   cursor: pointer;
   border-top: 0.1rem solid #837A71;
}

.container input:checked + label {
   color: #80B484;
}

.container input {
   display: none;
}

.container img {
   overflow: hidden;
   width: 0;
   margin-left: 25%;
   transition: width 1s ease-in-out;
}

.container input:checked ~ img {
   transition: width 1s ease-in-out;
   width: 50%;
   margin-left: 25%;
}

.icon {
   background: url(assets/svg/cross.svg);
   display: none;
   width: 1.5rem;
   height: 1.5rem;
}

@media (hover:hover) {
   .container label:hover {
      color: #80B484;
   }

   .container input:hover ~ img {
      transition: width 1s ease-in-out;
      width: 50%;
   }

   .container input:checked + label:hover {
      color: #80B484;
   }

   .icon:hover {
      display: block;
   }
}

@media (min-width: 1281px) {
   h1 {
      font-size: 5rem;
   }

   .container label {
      height: 5rem;
      font-size: 3rem;
   }

   .container input:checked ~ img {
      transition: width 1s ease-in-out;
      width: 20%;
      margin-left: 40%;
   }

   .container img {
      margin-left: 40%;
   }

   .container input:hover ~ img {
      transition: width 1s ease-in-out;
      width: 20%;
   }
}

@media (min-width: 768px) and (max-width: 1280px) {
   h1 {
      font-size: 3rem;
   }

   .container label {
      height: 4rem;
      font-size: 1.8rem;
   }

   .container input:checked ~ img {
      transition: width 1s ease-in-out;
      width: 50%;
      margin-left: 25%;
   }

   .container img {
      margin-left: 25%;
   }

   .container input:hover ~ img {
      transition: width 1s ease-in-out;
      width: 50%;
   }
}